[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
flask = "*"
mongoengine = "*"
chatterbot = "*"
pytest = "*"
flask-paginate = "*"
chatterbot-corpus = "*"

[dev-packages]
