{% extends "base.html" %}
{% block course_content %}
<nav class="nav-extended">
    <div class="" style="background-color:lightgray">
        <form method="POST" action="/insert">
            <input name='num' style="border-bottom-width:0px;margin-bottom:0px;">
            <input name='grade' style="border-bottom-width:0px;margin-bottom:0px;">
        </form>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="/?department=資訊工程系">資工</a></li>
            <li class="tab"><a href="/?department=電子工程系">電子</a></li>
            <li class="tab"><a href="/?department=電機工程系">電機</a></li>
            <li class="tab"><a href="/?department=化學工程與材料工程系">化材</a></li>
        </ul>
    </div>
</nav>
<div>{% block content %}{% endblock %}</div>
{% endblock %}
